/*
declaration block
*/
body {
    background-color: rgb(26, 180, 180);
    color: rgb(53, 53, 202);
}
nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
footer {
    text-align: center;
    margin-right: 200px;
}
#memeImage {
    margin-right: 200px;
}
h1 {
    text-align: center;
}